/* ------- DEFAULT STYLING ------ */
html {
	font-size: 16px;
}

body {
	font-family: 'Ubuntu', Arial, Verdana, sans-serif;
}

p, h1, h2, h3, h4, h5, h6 {
	color: #676b70;
}

/* ----------- LOGO ---------- */
.logo img {
	width: 50px;
	height: auto;
}

/* ---------- CAROUSEL ----------*/
.carousel-inner img {
	margin-left: -175px;
	margin-top: 150px;
}
