/* ------- DEFAULT STYLING ------ */
html {
	font-size: 16px;
}

body {
	font-family: 'Ubuntu', Arial, Verdana, sans-serif;
}

p, h1, h2, h3, h4, h5, h6 {
	color: #676b70;
}

.no-margin {
	margin-left: 0;
	margin-right: 0;
}

.link-to-page {
	text-decoration: underline;
}

/* ----------- Dropdown Nav ---------- */
.sub-dropdown {
	border-left: 2px solid #ddcab6;
	margin-left: 30px;
}

/* ----------- LOGO ---------- */
.logo img {
	width: 100%;
	max-width: 50px;
	height: auto;
	margin-bottom: 0px;
}

/* ------------ BANNER ------------ */
.banner-hr {
  padding: 0;
  border: none;
  border-top: medium double #ddcab6;
  text-align: center;
}

/* ---------- DIENSTEN LAYOUT----------*/
.diensten-layout h5,
.wedding-styling-content h5 {
	font-size: 18px;
	margin-bottom: 30px;
}

.diensten-layout p,
.wedding-styling-content p {
	margin-top: 5px;
}

.diensten-layout ul,
.wedding-styling-content ul {
	margin-bottom: 30px;
}

.diensten-layout ul:first-of-type li,
.wedding-styling-content ul li {
	list-style: square;
	margin-bottom: 5px;
	margin-left: 30px;
}

.diensten-layout ul:last-of-type li {
	border-left: 10px solid #ddcab6;
	padding-left: 10px;
	font-weight: bold;
	font-size: 16px;
	margin-left: 10px;
	margin-bottom: 20px;
}

.diensten-layout .margin-bottom {
	margin-bottom: 30px;
}

/* ----------- CONTACT -----------*/
#contact-title h1 {
	padding-top: 0 !important;
}

.form-alert,
.contact-form-php input,
.contact-form-php textarea {
	width: 80%;
}
