/* ------- DEFAULT STYLING ------ */
html {
	font-size: 16px;
}

body {
	font-family: 'Ubuntu', Arial, Verdana, sans-serif;
}

p, h1, h2, h3, h4, h5, h6 {
	color: #676b70;
}

.no-margin {
	margin-left: 0;
	margin-right: 0;
}

.link-to-page {
	text-decoration: underline;
	
}

/* ----------- Dropdown Nav ---------- */
.sub-dropdown {
	border-left: 2px solid #ddcab6;
	margin-left: 30px;
}

/* ----------- LOGO ---------- */
.logo img {
	width: 100%;
	max-width: 50px;
	height: auto;
	margin-bottom: 0px;
}

/* ------------ BANNER ------------ */
.banner-hr {
  padding: 0;
  border: none;
  border-top: medium double #ddcab6;
  text-align: center;
}

/* ---------- DIENSTEN ----------*/


/* ----------- CONTACT -----------*/
#contact-title h1 {
	padding-top: 0 !important;
}

.form-alert,
.contact-form-php input,
.contact-form-php textarea {
	width: 80%;
}
